h1 {
    text-align: center;
}
#p1 {
    color: red
}
#p2 {
    color: blue
}
#p3 {
    color: green
}
#p4 {
    font-size: 2em;
}
#p5 {
    font-size: .5em;
}
#p6 {
    text-align: center
}
#p7 {
    font-weight: bold;
}